/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid #83aabd;
}

::-webkit-scrollbar-thumb {
background: #83aabd;
}

::-webkit-scrollbar-thumb:hover {
background: #5e8496;
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}

input:valid+span:after {
    content: '✓';
    padding-left: 5px;
}

body {
  padding-top: 70px;
  padding-bottom: 60px;
  background-color: #F1F1F1;
}
footer {
  background-color: #EEE;
  border-top: 10px solid #BBB;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}
.box-principal{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.titulo{
  text-align: center;
}
.imagen-avatar{
  height: 50px;
  width: 50px;
}

.psmall {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.actionButtons {
  text-align: right;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ECF0F1;
  z-index: 13000;
  height: 100%;
}

.preloader_image {
  width: 169px;
  height: 124px;
  position: absolute;
  left: 45%;
  top: 50%;
  background: url(../images/preloader.gif) no-repeat 50% 50% transparent;
  margin: -50px 0 0 -50px;
}

.selectItems {
  width: 84%;
  display: inline-block;
}

.items {
  width: 56%;
  display: inline-block;
}

#addNewItemBox {
  background-color: #f8f8f8;
  padding: 7px;
}

.login {
  width: 24px;
  height: 24px;
  position: relative;
  top: 8px;
  display: inline-block;
}

.imgUsername {
  background-image: url(../images/username.png);
}

.imgPassword {
  background-image: url(../images/password.png);
}

#email, #password {
  display: inline-block;
  width: 82%;
}
